.greece_head {
    background-image: url("../pics/opening.jpg");
    background-size: cover;
    background-color: transparent;
    opacity: 0.8;
    padding: 40px;
    text-align: center;
}

.greece_head p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: black;
}

.div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding: 25px;
    background-color: white;
}

.img {
    width: 480px;
    height: 255px;
    border-radius: 5px;
}

.img_text {
    text-align: justify;
    border: 1px;
    width: 483px;
    line-height: 1.5;
}

.greece_parallax {
    background-image: url("../pics/greece3.jpg");
    background-size: cover;
    text-align: center;
    padding: 40px;
    background-color: transparent;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.greece_parallax h2 {
    text-align: center;
}


/* Media Query for tablets */
@media screen and (max-width: 1000px) {
    .maindiv_greece {
      min-width: 100%;
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .img, .img_text, .img_100p {
      font-size: 14px;
      width: 200px;
      padding: 10px;
    }
  }
